
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}


.img {
    float: right;
    margin: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 2px solid white; 
}


h3 {
    text-align: left;
    color: black;
    margin: 5px 0;
}
h4{
    text-align: left;
}

.head {
    text-align: center;
    margin: 10px 0;
    color: blue; 
}


.ord {
    margin: 20px ;
    list-style-type: square;
    width: 80%;
}

.ord li {
    margin: 10px 0;
    line-height: 1.5;
}

p {
    text-align: justify;
    margin: 10px auto;
    width: 80%;
    color: grey;
}
